@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    background-color: #161616;
}

body {
    font-family: 'Roboto';
    line-height: 1.4;
    color: #fffcf2;
}

p {
    font-size: 1.5rem;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 15%;
    margin-bottom: 20%;
}

.navContainer {
    margin: auto;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 5%;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeIcon {
    font-family: sans-serif;
    color: #FF5D4A;
    font-size: 1.7rem;
    font-weight: 500;
}

.greeting {
    font-size: 1.7rem;
    max-width: 40%;
}

.inline-typewr {
    display: inline-block;
}

.tagline {
    padding-top: 40px;
}

.emph {
    color: #FF5D4A;
}

.project {
    box-shadow: 0 4px 8px 0 #fffcf2;
    transition: 0.3s;
    background: #fffcf2;
    width: 40%;

    border-radius: 5px;
}

.project:hover {
    box-shadow: 0 8px 16px 0 #fffcf2;
}

.projectImage {
    width: 100%;
    border-radius: 5px;

}

.projectInfo {
    padding: 2px 16px;
    border-radius: 5px;
}